[Unit]
Description=Distrod port exposure service
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Restart=on-failure
RestartSec=15

ExecStart=/bin/sh -c '/opt/distrod/portproxy.exe proxy $(/opt/distrod/portproxy show ipv4) -t $(cat /opt/distrod/conf/tcp4_ports)'

[Install]
WantedBy=multi-user.target
